/* Colors */
$color_header: #c30606;
$color_body: #efefef;
$color_mobile_form: #e5e5e5;
$blanco: #ffffff;
$negro: #33272a;
$parrafos: #594a4e;

/* Texts */

$text_main: 'montserrat';
$text_secondary: 'ubuntu'